@page "/"
@using SchoolManagerModel.Utils
@attribute [Authorize]

<PageTitle>Home</PageTitle>

<AuthorizeView Roles="Student">
    <Authorized>
        <ShowMarks/>
    </Authorized>
    <NotAuthorized>

        <h1>Hello, world!</h1>

        Welcome to your new app.
    </NotAuthorized>
</AuthorizeView>

